
/* rgb(42, 26, 43); */
body{
    font-family: 'Barlow' ;
    margin: 0%;
    text-decoration: none;
    background-color: rgb(42, 26, 43);
    color: white;
}
h1{
    margin: 0%;
}
svg{
    width: 100%;
    height: 100%;
}
#titleBarContainer{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}
#openingScreenContainer{
    width: 100vw;
    height: 100vh;
}
#coverTriangle{
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 40%;
    z-index: -1;
}
#openingImages{
    position: absolute;
    top: 0%;
    left: 40%;
    height: 100%;
    width: 60%;
    object-fit: cover;
    z-index: -2;

    animation: imagesFadeIn 7s ease-in-out;
}

#openingTitleContainer{

    /* Constant */
    animation: titleComeIn 7s ease-in-out;
    width: 80%;
    position: relative;
    color: white;

    /* Changing */
    top: 8.5%;
    left: 1%;
    font-size: 50px;
}
#openingContentBlock{
    margin-top: 10%;
    margin-left: 2%;
    animation: contentFadeIn 7s ease-in-out;
}
.openingContentList{
    margin-bottom: 1%;
    font-size: 25px;
}
#openingDescriptionContainer{
    /* Constant */
    color: white;
    animation: descriptionComeIn 7s ease-in-out;
    position: relative;
    margin-top: 3%;


    /* Changing */
    font-size: 25px;
    left: 1%;
    width: 50%;
    top: 2%;
}
.titleBarElements{
    float: left;
    margin: 0%;
    color: black;
    font-weight: 100;
    padding: 1.25%;
    background-color: rgb(255, 255, 255);

    transition: background-color .5s;

}
.titleBarElements:hover{
    background-color: rgb(235, 235, 235);
}
.titleBarElements:first-child{
    margin-left: 2%;
}



@keyframes descriptionComeIn{
    0%{
        opacity: 0;
        left: 11%;
        margin-top: 5%;

    }
    20%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    60%{
        left: 11%;
        margin-top: 5%;

    }
    75%{
        left: 1%;
        margin-top: 3%;


    }
}
@keyframes titleComeIn{
    0%{
        opacity: 0;
        top: 8%;
        left: 10%;
        font-size: 100px;

    }
    15%{
        top: 15%;
    }
    20%{
        top: 15%;
        opacity: 1;
        left: 10%;
    }
    60%{
        left: 10%;
        top: 15%;
        font-size: 100px;
    }
    75%{
        top: 8.5%;
        left: 1%;
        font-size: 50px;
    }
}

@keyframes imagesFadeIn{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}
@keyframes contentFadeIn{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    85%{
        opacity: 1;
    }
}